# Import Data

In [15]:
# !pip install demoji
import pandas as pd
from SelfModules import Module_Data_Deal as Data_Deal

In [16]:
# data import
%time df_video_data = pd.read_pickle('3muggles_video_data.pickle')

CPU times: user 3.97 ms, sys: 1.54 ms, total: 5.5 ms
Wall time: 4.79 ms

In [17]:
df_video_data =  df_video_data.sort_values(by='Views', ascending = False)
df_video_data.tail()

,Title,Published_date,Views,Likes,Tags,Comments
12,搶先開箱！日本麥當勞哆啦A夢玩具！,2024-03-18,12089,644,"[哆啦A夢, 日本, 麥當勞, 兒童餐, 玩具, 第一彈, 搶購, 限量, 限定期間, 大雄...",15
0,在大阪使用優惠券過一天！原來這樣玩可以省到錢？人氣景點、逛街、美食...章魚燒最推這間？來大...,2024-04-13,11839,360,"[大阪, 旅遊, 優惠券, 關西樂享周遊券, 人氣景點, 逛街, 美食, 省錢, 小資, 轉...",24
18,吃螃蟹的標準表情,2024-03-07,11749,500,[],11
5,拼樂高聊是非,2024-03-30,9177,234,[],6
277,小兵生日high起來！唱歌跳舞樣樣來(?),2021-12-12,0,104,[],0

In [18]:
# delete the last row which has 0 view
df_video_data.drop(df_video_data.tail(1).index,inplace=True)
df_video_data.tail()

,Title,Published_date,Views,Likes,Tags,Comments
46,搶先開箱！THE 哆啦A夢展！終於在台北開幕了🔥,2023-12-16,12175,428,"[哆啦A夢, THE哆啦A夢展, 中正紀念堂, 台北展覽, 童年回憶]",9
12,搶先開箱！日本麥當勞哆啦A夢玩具！,2024-03-18,12089,644,"[哆啦A夢, 日本, 麥當勞, 兒童餐, 玩具, 第一彈, 搶購, 限量, 限定期間, 大雄...",15
0,在大阪使用優惠券過一天！原來這樣玩可以省到錢？人氣景點、逛街、美食...章魚燒最推這間？來大...,2024-04-13,11839,360,"[大阪, 旅遊, 優惠券, 關西樂享周遊券, 人氣景點, 逛街, 美食, 省錢, 小資, 轉...",24
18,吃螃蟹的標準表情,2024-03-07,11749,500,[],11
5,拼樂高聊是非,2024-03-30,9177,234,[],6

# Create more data

In [19]:
# creat more data

DD = Data_Deal.Generator(df_video_data)

Data_Deal.Generator.create_percent(DD, 'Likes', 'Views');
Data_Deal.Generator.create_percent(DD, 'Comments', 'Likes');
Data_Deal.Generator.create_percent(DD, 'Comments', 'Views');

In [20]:
DD.df_data.head;

In [21]:
''' add time difference '''
from datetime import date

today = date.today()
today;

DD.df_data['Time Duration'] = [(today - i).days for i in df_video_data['Published_date']]

In [22]:
DD.df_data.head();

In [23]:
# !pip install demoji
# import demoji
Data_Deal.Generator.three_muggle_group(DD)

In [24]:
set(df_video_data['Group']);
df_video_data.loc[df_video_data['Group'] == 'None'];

In [25]:
list_none_group = df_video_data.loc[df_video_data['Group'] == 'None'].index
list_assign_group = ['shorts', 'shorts', '麻瓜日常', 'shorts', '麻瓜日常', 'shorts', '麻瓜cover', \
                    '麻瓜團康', '麻瓜日常', '麻瓜直播', 'shorts', 'shorts', '麻瓜團康', '麻瓜街訪', \
                    'shorts', '麻瓜團康', 'shorts', '麻瓜cover', 'shorts', 'shorts', 'shorts', \
                    'shorts', '麻瓜直播', '麻瓜cover', 'shorts', 'shorts', 'shorts', 'shorts', \
                    '麻瓜直播', 'shorts', 'shorts', 'shorts', '麻瓜直播', 'shorts', 'shorts', \
                    '麻瓜開箱', '麻瓜開箱', '麻瓜開箱', 'shorts', '麻瓜直播']

for i in range(0, len(list_none_group)):
    df_video_data.loc[list_none_group[i], 'Group'] = list_assign_group[i]

In [26]:
df_video_data.loc[df_video_data['Group'] == 'None']

Empty DataFrame
Columns: [Title, Published_date, Views, Likes, Tags, Comments, Likes/Views(%), Comments/Likes(%), Comments/Views(%), Time Duration, Group]
Index: []

In [27]:
set(df_video_data['Group'])

{'shorts',
 '奔三女孩向前衝',
 '麻瓜cover',
 '麻瓜出遊',
 '麻瓜呱呱',
 '麻瓜團康',
 '麻瓜小短劇',
 '麻瓜廚房',
 '麻瓜挑戰',
 '麻瓜整人',
 '麻瓜日常',
 '麻瓜特派員',
 '麻瓜直播',
 '麻瓜街訪',
 '麻瓜調查',
 '麻瓜跟風',
 '麻瓜開箱'}

In [28]:
# save data

%timeit df_video_data.to_pickle('muggles_dealed_data.pickle')
!ls -GFlash muggles_dealed_data.pickle

1.21 ms ± 12 µs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)
648 -rw-r--r--  1 yulinzhou  staff   298K Apr 14 08:54 muggles_dealed_data.pickle